

<div class="flex" id="background">
    </div>
      <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="nav-holder">
            <a class="pull-left" href="#">
              <img class="logo" src="/easychatlogo.png">
            </a>

            <div id="navbar" class="navbar-collapse">
              <ul class="pull-right navigation">
                <a href="#jumbo_2"><li>Beta - Be first in line!</li></a>
              </ul>
            </div>

          </div>
        </div>
      </nav>

      <div id="jumbo_1" class="jumbotron">
          <div class="flex main-container">
            <div class="embedded-video">
              <iframe width="800" height="400" src="https://www.youtube.com/embed/CHH5UtFbkis?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div id="jumbo_2" class="jumbotron">
        <div class="container ">
          <div class="flex whole-screen">
            <div class="connect">
                <span class="invite">Stay Informed</span>
                <form action="https://docs.google.com/forms/d/1OlFEoQnno19JdI0LPMsRm4jLdQ6ZV6GSOlsVWRhanms/formResponse" method="post" id="sign_up">
                  <input type="text" name="entry.1472382392" placeholder="first_name">
                  <input type="text" name="entry.1177169073" placeholder="last_name">
                  <input type="email" name="entry.402403821" placeholder="entrepreneur@gmail.com">
                  <input type="hidden" value="Submit" name="submit">
                  <input type="submit" value="Connect" id="submit_button">
                </form>
                <br>
                <div class="promo_text">Your Customers Will Thank You.</div>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /container -->

    <nav class="navbar navbar-fixed-bottom">
        <div class="container">
          <div class="flex">
            <div class="tagline">eCommerce live chat for Entrepreneurs</div>
          </div>
          </div>
        </div>
      </nav>

    </div>
