(function () {

    var scriptName = "embed.js"; //name of this script, used to get reference to own tag
    var jQuery; //noconflict reference to jquery
    var jqueryPath = "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js";
    var jqueryVersion = "1.8.3";
    var scriptTag; //reference to the html script tag

    /******** Get reference to self (scriptTag) *********/
    var allScripts = document.getElementsByTagName('script');
    var targetScripts = [];
    for (var i in allScripts) {
        var name = allScripts[i].src
        if(name && name.indexOf(scriptName) > 0)
            targetScripts.push(allScripts[i]);
    }

    scriptTag = targetScripts[targetScripts.length - 1];

    /******** helper function to load external scripts *********/
    function loadScript(src, onLoad) {
        var script_tag = document.createElement('script');
        script_tag.setAttribute("type", "text/javascript");
        script_tag.setAttribute("src", src);

        if (script_tag.readyState) {
            script_tag.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    onLoad();
                }
            };
        } else {
            script_tag.onload = onLoad;
        }
        (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
    }

    /******** helper function to load external css  *********/
    function loadCss(href) {
        var link_tag = document.createElement('link');
        link_tag.setAttribute("type", "text/css");
        link_tag.setAttribute("rel", "stylesheet");
        link_tag.setAttribute("href", href);
        (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(link_tag);
    }

    /******** load jquery into 'jQuery' variable then call main ********/
    if (window.jQuery === undefined || window.jQuery.fn.jquery !== jqueryVersion) {
        loadScript(jqueryPath, initjQuery);
    } else {
        initjQuery();
    }

    function initjQuery() {
        jQuery = window.jQuery.noConflict(true);
        main();
    }

    /******** starting point for your widget ********/
    function main() {
      //your widget code goes here

        jQuery(document).ready(function ($) {
          //or you could wait until the page is ready
        jQuery('body').append(htmlToLoad)

        jQuery('#chat-thumbnail').click(function(){
            jQuery(this).toggle();
            jQuery('#chat-container').toggle();
        });

        jQuery('#close-chat').click(function(){
            jQuery('#chat-container').toggle();
            jQuery('#chat-thumbnail').toggle();
        });

        loadCss("http://localhost:3000/stylesheets/widget.css");

        loadScript("http://localhost:3000/javascripts/sinch-sdk.js", function(){
            sinchClient = new SinchClient({
                applicationKey: '1686d805-cf47-4091-ba5f-9c4d7afffab1',
                capabilities: {messaging: true}
            });

            // Register NEW user

            var loginObject = {username: 'easychatonline', password: 'easychatonline'};
            sinchClient.newUser(loginObject, function(ticket) {

                sinchClient.start({username: 'easychatonline', password: 'easychatonline'}, function() {
                global_username = easychatonline;
                console.log("Logged in!");
                }).fail(handleError);

            }).fail(handleError);

            var handleError = function(error) {}



        });



        });

        var htmlToLoad = `
            <img class='chat-head' src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/096/07c/1427c21.jpg'>
            <div id="bubble" class="speech-bubble flex">
                <div id="chat-thumbnail">
                    <img class="message-icon"src="http://localhost:3000/message.png">
                </div>

                  <div id="chat-container" style="display: none">
                      <div class="menu">
                        <div class="name">Chat with Abe</div>
                        <img id="close-chat" src="http://localhost:3000/close-window.png">
                      </div>
                        <ol class="chat">
                        <li class="other">
                          <div class="msg">
                            <p>Hola!</p>
                            <p>Te vienes a cenar al centro? <emoji class="pizza"/></p>
                            <time>20:17</time>
                          </div>
                        </li>
                        <li class="self">
                          <div class="msg">
                            <p>Puff...</p>
                            <p>Aún estoy haciendo el contexto de Góngora... <emoji class="books"/></p>
                            <p>Mejor otro día</p>
                            <time>20:18</time>
                          </div>
                        </li>
                        <li class="other">
                          <div class="msg">
                            <p>Qué contexto de Góngora? <emoji class="suffocated"/></p>
                            <time>20:18</time>
                          </div>
                        </li>

                        </ol>
                        <input class="textarea" type="text" placeholder="Type here!"/>
                      </div>
            </div>
            `
    }

})();